* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

header{
    background-color: rgb(55, 55, 199);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}

.navbarlink, .logo {
    color: white;
    text-decoration: none;
}


.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
.nav-menu {
    display: flex;
    margin-right: 40px;
    line-height: 80px;
    list-style-type: none;
}

.navbar {
    font-size: 20px;
    margin: 0 10px;
    text-transform: uppercase;
}

.navbarlink {
    padding: 8px 12px;
    border-radius: 3px;
}
.navbarlink:hover{
    background-color: #448cc0;
    transition: .5s;
}

.hamb {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
}

@media (max-width: 768px) {
    header{
        height: 60px;
    }
    
    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin-right: 20px;
        background-color: #2c3e50;
        padding: 20px 0;
        position: fixed;
        left: 0;
        top: 60px; /*Es el alto del elemento*/
        width: 100%;

        height: calc(100% - 60px);
        overflow-y: auto;
        left: 100%;
        transition: 0.3s;
    }
    
    .navbar {
        line-height: 70px
    }

    .navbarlink:hover, .navbarlink_active {
        background: none;
        color: #448cc0;
        transition: .5s;
    }
    
    .hamb {
        display: block;
    }
    .habm_visible {
        left: 0;
    }
}
