* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 1.01em;
}

body {
    background-color: #252525;
    color: #000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
/* .container {

    width: 600px;
    margin: 150px auto;
} */

table {
 width: 50%;
 text-align: left;
 background-color: #fff;
 border-collapse: collapse;
}

th, td {
    padding: 0.8em;

}
thead {
    background-color: #246355;
    border-bottom: solid 5px #0f362d;
    color: #fff;
}

tr:nth-child(even) {  /*El even indica los hijos par*/
    background-color: #ddd;
}

tr:hover {
    background-color: #246355;
    color: #fff;
}

.modify, .remove {
    width: 1.8em;
    text-align: center;

}

.modify:hover {
    background-color: #cdc338 !important;
    cursor: pointer;

}
.remove:hover {
    background-color: #963636;
    cursor: pointer;

}
.modify:hover {
    background-color: #369681;
    cursor: pointer;

}
@media (max-width:750px) {
    table {
        width: 70%;
    }
    body {
        font-size: .8em;
    }
}